.previewTable::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.previewTable::-webkit-scrollbar-thumb {
    background: rgb(143, 143, 143);
    border-radius: 13px;

}

.previewTable::-webkit-scrollbar-track {
    background: rgb(143, 143, 143, 0.2);
    border-radius: 13px;
}