.sidebar::-webkit-scrollbar {
    width: 5px;
    position: fixed;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

.sidebar::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #c6c6c6;
}